<div class="container">
  <p m-5>
    <h1>
      Legionario: Innovación y eficiencia para la agricultura
    </h1>
  </p>

  <p>
    Somos una empresa comprometida con el desarrollo y la implementación de
    tecnologías que transforman la agricultura. En Legionario, ofrecemos
    productos de alta calidad, asesoría experta y mantenimiento especializado
    para que puedas automatizar tus procesos agrícolas. Nuestra misión es
    ayudarte a reducir costos, aumentar la precisión en las aplicaciones y
    proteger el medio ambiente mediante el uso eficiente de los recursos. Con
    más de [X años de experiencia] en el sector, nuestro equipo de expertos está
    listo para ofrecerte soluciones a la medida de tus necesidades.</p>

  <div class="card">
    <div class="card-header">
      <h2>Misión</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        En Legionario, nuestra misión es proporcionar soluciones tecnológicas
        innovadoras para la agricultura, con el objetivo de automatizar los
        procesos de aplicación de productos químicos. Buscamos optimizar el uso
        de recursos, reducir costos operativos y proteger el medio ambiente,
        ofreciendo productos de alta calidad y un servicio integral de asesoría
        y mantenimiento. Nos comprometemos a apoyar a los agricultores en la
        mejora de su productividad mediante tecnología de vanguardia,
        contribuyendo al desarrollo sostenible del sector agrícola.
      </p>

    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header">
      <h2>Visión</h2>
    </div>
    <div class="card-body">
      <p class="card-text">
        Ser la empresa líder en la automatización de procesos agrícolas en
        América Latina, reconocida por la innovación y eficiencia de nuestras
        soluciones tecnológicas. En Legionario, aspiramos a transformar la forma
        en que los agricultores gestionan sus cultivos, promoviendo la
        sostenibilidad, la reducción de costos y el aumento de la productividad.
        Buscamos ser un referente en la industria, proporcionando productos que
        marquen la diferencia en la calidad y eficiencia de la agricultura
        moderna.
      </p>

    </div>
  </div>

</div>