<div class="container">
  <style>
    body { font-family: 'Arial', sans-serif; background-color: #f4f4f4; margin:
    0; } .card-container { display: flex; flex-wrap: wrap; justify-content:
    space-around; } .card { width: 100%; } /* Ajuste para que las tarjetas
    ocupen todo el ancho */ .card-img { max-width: 100%; height: auto; } /*
    Asegura que la imagen sea responsiva */ .card-body { display: flex;
    flex-direction: column; justify-content: space-between; } /* Para alinear el
    botón */ .card-body a { align-self: flex-start; background-color: #939597;
    color: #fff; padding: 10px 15px; text-decoration: none; border-radius: 4px;
    margin-top: 10px; } .titulo-principal { text-align: center; font-size:
    2.8em; font-weight: bold; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0,
    0, 0.5); background: linear-gradient(to right, #818585, #808b90); padding:
    20px; border-radius: 10px; margin-bottom: 30px; text-transform: uppercase;
    letter-spacing: 3px; }
  </style>
<ul>
    <li>
        <a href="#section1">Importancia de nuestra agricultura</a>
    </li>
        <li>
        <a href="#section2">Amenazas</a>
    </li>
        <li>
        <a href="#section3">Tecnologías</a>
    </li>
    
</ul>

  <section id="section1"> <br> <br><br>

    <h1 class="titulo-principal">Importancia de nuestra agricultura</h1>
    <div class="card-container">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/sa.webp"
              class="card-img"
              alt="Seguridad Alimentaria"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Seguridad Alimentaria</h5>
              <p class="card-text">
                <b>Población Mundial:</b>
                La agricultura es la principal fuente de alimentos para una
                población mundial que supera los 8 mil millones de personas. Se
                estima que para el año 2050, la población mundial alcanzará los
                9.7 mil millones, lo que exigirá un aumento significativo en la
                producción de alimentos.
                <br />
                <b>Malnutrición:</b>
                A pesar de los avances, millones de personas en todo el mundo
                sufren de malnutrición. La agricultura sostenible y la
                distribución equitativa de alimentos son esenciales para
                combatir el hambre y la malnutrición.</p>

              <a href="seguridad_alimentaria.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/de.webp"
              class="card-img"
              alt="Desarrollo Económico"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Desarrollo Económico</h5>
              <p class="card-text"><b>Empleo:</b>
                La agricultura es una de las principales fuentes de empleo a
                nivel mundial, especialmente en países en desarrollo.
                Proporciona medios de vida a millones de familias rurales y
                contribuye a la reducción de la pobreza.<br />
                <b>PIB:</b>
                El sector agrícola contribuye significativamente al Producto
                Interno Bruto (PIB) de muchos países. En países en desarrollo,
                la agricultura puede representar una parte importante de la
                economía nacional.
                <br />

                <b>Comercio:</b>
                El comercio de productos agrícolas es una actividad económica
                importante a nivel mundial. Los países exportadores de productos
                agrícolas generan ingresos significativos y contribuyen al
                comercio internacional.</p>
              <a href="desarrollo_economico.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/sam.webp"
              class="card-img"
              alt="Sostenibilidad Ambiental"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sostenibilidad Ambiental</h5>
              <p class="card-text">
                <b>Uso de la Tierra:</b>
                La agricultura utiliza una gran proporción de la superficie
                terrestre mundial. Las prácticas agrícolas sostenibles son
                esenciales para conservar los recursos naturales y proteger el
                medio ambiente.
                <br />
                <b>Recursos Hídricos:</b>
                La agricultura es uno de los mayores consumidores de agua dulce.
                El uso eficiente del agua y la gestión sostenible de los
                recursos hídricos son fundamentales para la agricultura.
                <br />
                <b>Cambio Climático:</b>
                La agricultura es vulnerable al cambio climático y también
                contribuye a las emisiones de gases de efecto invernadero. La
                adopción de prácticas agrícolas climáticamente inteligentes es
                crucial para mitigar el cambio climático y adaptarse a sus
                impactos.
              </p>
              <a href="sostenibilidad_ambiental.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/iag.webp"
              class="card-img"
              alt="Indicadores Adicionales"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Indicadores Adicionales</h5>
              <p class="card-text">
                <b>Inversión en Investigación y Desarrollo:</b>
                La inversión en investigación agrícola es fundamental para
                desarrollar nuevas tecnologías y prácticas que mejoren la
                productividad y la sostenibilidad.
                <br />
                <b>Acceso a la Tecnología:</b>
                El acceso a tecnologías agrícolas modernas, como la agricultura
                de precisión y la biotecnología, puede aumentar la eficiencia y
                la productividad.
                <br />

                <b>Políticas Agrícolas:</b>
                Las políticas gubernamentales que apoyan la agricultura
                sostenible y la seguridad alimentaria son esenciales para el
                desarrollo del sector.
              </p>
              <a href="indicadores_adicionales.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section2"><br> <br><br>
    <h1 class="titulo-principal">Amenazas</h1>

    <div class="card-container">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/plagas.webp" class="card-img" alt="Plagas" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Plagas de Insectos</h5>
              <p class="card-text">Las plagas de insectos representan una
                amenaza constante para la agricultura, caracterizándose por su
                capacidad de causar daños directos al alimentarse de las
                plantas, o indirectos, al transmitir enfermedades. Suelen ser
                más activas durante la primavera y el verano. Un manejo adecuado
                de insecticidas selectivos, el monitoreo constante y el Manejo
                Integrado de Plagas (MIP) pueden hacer frente a esta amenaza,
                minimizando la dependencia de los químicos y protegiendo la
                biodiversidad.</p>
              <a href="plagas.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/malezas.webp" class="card-img" alt="Malezas" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Malezas</h5>
              <p class="card-text">Las malezas son plantas no deseadas que
                compiten con los cultivos por recursos esenciales. Un manejo
                adecuado de herbicidas selectivos, la aplicación en el momento
                oportuno y la labranza reducida pueden controlar eficazmente las
                malezas, minimizando el impacto ambiental y protegiendo los
                cultivos.</p>
              <a href="malezas.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/funji.webp" class="card-img" alt="Enfermedades" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Enfermedades Fúngicas y Bacterianas</h5>
              <p class="card-text">Las enfermedades de las plantas, causadas por
                hongos, bacterias o virus, pueden propagarse rápidamente. El uso
                de fungicidas y bactericidas preventivos, la rotación de
                cultivos y la siembra de variedades resistentes son estrategias
                clave para controlar estas enfermedades, reduciendo la necesidad
                de químicos y protegiendo la salud de las plantas.</p>
              <a href="enfermedades.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/sequia.webp" class="card-img" alt="Sequías" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sequías</h5>
              <p class="card-text">Las sequías, caracterizadas por la falta de
                agua, pueden dañar o destruir los cultivos. El uso de polímeros
                retenedores de agua y antitranspirantes puede ayudar a los
                cultivos a resistir la sequía, complementando otras estrategias
                de manejo del agua y reduciendo las pérdidas.</p>
              <a href="sequias.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/heladas.webp" class="card-img" alt="Heladas" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Heladas</h5>
              <p class="card-text">Las heladas, especialmente las tardías de
                primavera, pueden dañar o matar las plantas jóvenes. El uso de
                protectores contra heladas puede proteger a los cultivos de los
                daños causados por las bajas temperaturas, complementando otras
                medidas de protección y asegurando la supervivencia de las
                plantas.</p>
              <a href="heladas.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/suelosp.webp" class="card-img" alt="Suelos pobres" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Suelos Pobres</h5>
              <p class="card-text">Los suelos pobres, que carecen de los
                nutrientes esenciales, pueden limitar el crecimiento de las
                plantas. La aplicación adecuada de fertilizantes químicos y
                enmiendas del suelo puede corregir las deficiencias de
                nutrientes y mejorar la fertilidad del suelo, complementando
                otras prácticas sostenibles y asegurando la productividad a
                largo plazo.</p>
              <a href="suelos.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="section3"><br> <br><br>

    <h1 class="titulo-principal">Tecnologías</h1>
    <div class="card-container">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/aapp.webp"
              class="card-img"
              alt="Agricultura de Precisión"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Agricultura de Precisión</h5>
              <p class="card-text">Con GPS y sensores, aplicamos fertilizantes y
                pesticidas solo donde se necesitan, evitando el desperdicio y
                reduciendo costos.</p>
              <a href="agricultura_precision.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/trac.webp"
              class="card-img"
              alt="Tractores Automatizados"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Tractores Automatizados</h5>
              <p class="card-text">Tractores con sistemas de guiado y sensores
                aplican productos de forma exacta. Boquillas especiales detectan
                malezas y aplican herbicidas solo a ellas.</p>
              <a href="tractores_auto.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="img/md.webp"
              class="card-img"
              alt="Monitoreo con Drones"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Monitoreo con Drones</h5>
              <p class="card-text">Drones con cámaras revisan grandes áreas de
                cultivo desde el aire, detectando problemas a tiempo y
                permitiendo aplicar soluciones precisas.</p>
              <a href="drones_monitoreo.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/iot.webp" class="card-img" alt="Gestión de Datos" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gestión de Datos</h5>
              <p class="card-text">Programas informáticos analizan datos del
                clima y los cultivos, ayudando a tomar mejores decisiones sobre
                cuándo y cómo actuar.</p>
              <a href="gestion_datos.html">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>