<div class="container">

<div class="card">

    <div class="card-body">
        <h3 class="card-title">Nuestros Productos</h3>
        <h6 class="card-subtitle mb-2 text-muted">Soluciones para una agricultura más eficiente</h6>
        <p class="card-text">
Ofrecemos una línea especializada de equipos para la automatización de la aplicación de productos químicos en la agricultura:

Barra fija: Diseñada para aplicaciones precisas y uniformes.

Barra hidráulica: Ajustable para mayor versatilidad y eficiencia.

Barra para moto: Solución compacta y flexible para diferentes terrenos.

Nebulizador con sensores: Control automático para una aplicación precisa y eficiente.

Aplicaciones foliares: Diseñadas para maximizar la absorción y efectividad de los productos.

Cada uno de nuestros productos está diseñado para optimizar el uso de insumos, reducir desperdicios y mejorar la rentabilidad del negocio agrícola. Contáctanos para encontrar la mejor solución para tu campo.
</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    </div>


</div>

<div class="card-group">
  <div class="card m-3">
    <img src="img/11.jpeg" class="card-img-top" alt="Barra Fija">
    <div class="card-body">
      <h5 class="card-title">Barra Fija</h5>
      <p class="card-text">Sistema fijo para la distribución precisa de productos químicos, ideal para aplicaciones controladas y constantes. Optimiza el uso de recursos y mejora la eficiencia en la aplicación.</p>
      <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 mins</small></p>
    </div>
  </div>
  <div class="card m-3">
    <img src="img/10.jpeg" class="card-img-top" alt="Barra Hidráulica">
    <div class="card-body">
      <h5 class="card-title">Barra Hidráulica</h5>
      <p class="card-text">Con tecnología hidráulica avanzada, esta barra permite una aplicación precisa y ajustable, adaptándose a diferentes condiciones del terreno. Ideal para terrenos difíciles.</p>
      <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 mins</small></p>
    </div>
  </div>
  <div class="card m-3">
    <img src="img/3.jpeg" class="card-img-top" alt="Barra para Moto">
    <div class="card-body">
      <h5 class="card-title">Barra para Moto</h5>
      <p class="card-text">Diseñada para su uso en vehículos motorizados, esta barra facilita el trabajo en terrenos extensos y de difícil acceso, aumentando la eficiencia en las aplicaciones.</p>
      <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 mins</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card m-3">
    <img src="img/2.jpeg" class="card-img-top" alt="Nebulizador con Sensores">
    <div class="card-body">
      <h5 class="card-title">Nebulizador con Sensores</h5>
      <p class="card-text">Incorpora sensores para ajustar la distribución de los productos químicos en tiempo real, garantizando una aplicación eficiente y minimizando el desperdicio de productos.</p>
      <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 mins</small></p>
    </div>
  </div>
  <div class="card m-3">
    <img src="img/1.png" class="card-img-top" alt="Aplicaciones Foliares Automatizadas">
    <div class="card-body">
      <h5 class="card-title">Aplicaciones Foliares Automatizadas</h5>
      <p class="card-text">Tecnología avanzada para la aplicación precisa de productos químicos sobre las hojas de las plantas, mejorando la absorción y reduciendo el uso de químicos.</p>
      <p class="card-text"><small class="text-body-secondary">Última actualización hace 3 mins</small></p>
    </div>
  </div>
</div>
