/*!
Valriables
*/
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --bg-color-sidebar: #4caf50;
  --text-color-sidebar: #222222;
  --bg-color-navigationbar: #4caf50;
  --text-color-navigationbar: #ffffff;
  --bg-color-footer: #4caf50;
  --text-color-footer: #ffffff;
  --primary-color: #4C9A2A; /* Verde principal */
  --secondary-color: #D32F2F; /* Rojo secundario */
  --accent-color: #E0E0E0; /* Para detalles y bordes */
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);

}