<footer class="text-center text-lg-start my-5" style="box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); background-color: var(--bg-color-footer); color:var(--text-color-footer) ;">
    <div class="container p-4 pb-0 ml-0">
        <section class="">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contacto</h5>
                    <p>
                        <strong>Rodrigo Aliaga Hernandez</strong><br />
                        Sagrada Familia, Chile<br />
                        Email: raliaga@legionariochile.cl <br />
                        Comprometidos con los agricultores
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Enlaces Útiles</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="/" style="color: var(--text-color-navigationbar)">Inicio</a></li>
                        <li><a href="/products" style="color: var(--text-color-navigationbar)">Productos</a></li>
                        <li><a href="/contact" style="color: var(--text-color-navigationbar)">Contacto</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Redes Sociales</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="https://www.instagram.com/romaliaga/" style="color: var(--text-color-navigationbar)">Instagram</a></li>
                        <li><a href="#!" style="color: var(--text-color-navigationbar)">LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Información Adicional</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" style="color: var(--text-color-navigationbar)">Mapa del Sitio</a></li>
                        <li><a href="/about" style="color: var(--text-color-navigationbar)">Sobre Nosotros</a></li>
                        <li><a href="#!" style="color: var(--text-color-navigationbar)">Agricultura Sustentable</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <hr class="mb-4" />



       
    </div>
    <div class="text-center p-3">
        © 2025 Rodrigo Aliaga Hernandez
    </div>
</footer>