<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
<link href="css/sidebar.css" rel="stylesheet" type="text/css">

<div>
    <nav id="sidebar" class="sidebar  flex-column flex-shrink-0 position-relative"
        style="min-height: 700px; background-color: --bg-color; color: --text-color;">
        <button class="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-chevron-right"></i>
        </button>

        <div class="hide-on-collapse pt-4">
           <img src="assets/favicon.ico" alt="" style="margin-left:30px;">
            <span class="text-muted p-1 " style="font-size: 10px;">{{user.nombre}}</span>


        </div>
        <hr>

        <div class="nav fs-15">
            <a href="/" class="sidebar-link active text-decoration-none p-3">
                <i class="fas fa-home me-3"></i>
                <span class="hide-on-collapse"></span>
            </a>
            <a href="/products" class="sidebar-link text-decoration-none p-3">
                <i class="fa-solid fa-microchip"></i>
                <span class="hide-on-collapse"></span>
            </a>

            <a href="/about" class="sidebar-link text-decoration-none p-3">
                <i class="fas fa-box me-3"></i>
                <span class="hide-on-collapse"></span>
            </a>
            <a href="/contact" class="sidebar-link text-decoration-none p-3">
                <i class="fa fa-address-book me-3"></i>
                <span class="hide-on-collapse"></span>
            </a>



        </div>
        <hr>
        <div class="nav ">

            {{#if user}}

            <a href="/logout" class="sidebar-link text-decoration-none p-3">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="hide-on-collapse"></span>
            </a>

            {{else}}
            <a href="/signin" class="sidebar-link text-decoration-none p-3">
                <i class="fa-solid fa-right-to-bracket"></i>
                <span class="hide-on-collapse"></span>
            </a>
        </div>
        {{/if}}

    </nav>


    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</div>